# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\MyStuff\Files\mySpace\Projects\Challenges\Hyperskill\Java\TicTacToe Vs AI2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
